<section class="section about" id="about">
  <div class="container">
    <!-- Hidden TITLE -->
    <h2 class="visually-hidden">about me</h2>

    <!-- My slogan and avatar -->
    <div class="slogan-avatar">
      <h3 class="about-slogan">
        I work with people all over the world to create impressive and
        <span class="slogan-red">functional</span>
        <span class="slogan-grey">websites</span> that reflect each client's
        unique personality.
      </h3>
      <picture>
        <source
          srcset="./img/about/mobile@1x.webp 1x, ./img/about/mobile@2x.webp 2x"
          media="(max-width: 767px)"
        />
        <source
          srcset="./img/about/tablet@1x.webp 1x, ./img/about/tablet@2x.webp 2x"
          media="(max-width: 1439px)"
        />
        <source
          srcset="
            ./img/about/desktop@1x.webp 1x,
            ./img/about/desktop@2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <img
          src="./img/about/mobile@1x.webp"
          alt="My photo"
          width="343"
          height="500"
          class="about-avatar"
        />
      </picture>
    </div>

    <!--Information about me -->
    <ul class="about-descr-list accordion-container">
      <li class="about-descr ac">
        <button type="button" class="ac-trigger about-descr-title">
          <span> about me </span>
          <span class="arrow-accordion-about-wrapper">
            <svg class="arrow-accordion-about">
              <use href="./img/sprite.svg#arrow-up"></use>
            </svg>
          </span>
        </button>
        <div class="about-descr-info ac-panel">
          <div class="ac-text">
            <p class="about-descr-text about-me-text">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages ​​and technologies, always ready
              to improve my skills. I always follow the latest trends and look
              for unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </p>
            <p class="about-descr-text about-me-text">
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work. I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </p>
          </div>
        </div>
      </li>
      <li class="about-descr ac">
        <button type="button" class="ac-trigger about-descr-title">
          <span>role</span>
          <span class="arrow-accordion-about-wrapper">
            <svg class="arrow-accordion-about">
              <use href="./img/sprite.svg#arrow-up"></use>
            </svg>
          </span>
        </button>
        <div class="about-descr-info ac-panel">
          <div class="ac-text">
            <p class="about-descr-text about-role-text">Frontend development</p>
            <p class="about-descr-text about-role-text">
              HeadlessCMS,Wordpress
            </p>
            <p class="about-descr-text about-role-text">Blender(enjoy)</p>
          </div>
        </div>
      </li>
      <li class="about-descr ac">
        <button type="button" class="ac-trigger about-descr-title">
          <span> education </span>
          <span class="arrow-accordion-about-wrapper">
            <svg class="arrow-accordion-about">
              <use href="./img/sprite.svg#arrow-up"></use>
            </svg>
          </span>
        </button>
        <div class="about-descr-info ac-panel">
          <div class="ac-text">
            <p class="about-descr-text about-edu-text">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </p>
            <p class="about-descr-text about-edu-text">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </p>
            <p class="about-descr-text about-edu-text">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </p>
          </div>
        </div>
      </li>
    </ul>

    <!-- My skills + swiper-->
    <div class="about-swiper-container">
      <div class="about-tecs swiper">
        <ul class="about-tecs-list swiper-wrapper">
          <li class="swiper-slide">
            <p class="about-tecs-title">HTML/CSS</p>
          </li>
          <li class="swiper-slide">
            <p class="about-tecs-title">JavaScript</p>
          </li>
          <li class="swiper-slide">
            <p class="about-tecs-title">React</p>
          </li>
          <li class="swiper-slide">
            <p class="about-tecs-title">Node.js</p>
          </li>
          <li class="swiper-slide">
            <p class="about-tecs-title">React Native</p>
          </li>
          <li class="swiper-slide">
            <p class="about-tecs-title">Soft skills</p>
          </li>
          <li class="swiper-slide">
            <p class="about-tecs-title">HTML/CSS</p>
          </li>
          <li class="swiper-slide">
            <p class="about-tecs-title">JavaScript</p>
          </li>
          <li class="swiper-slide">
            <p class="about-tecs-title">React</p>
          </li>
          <li class="swiper-slide">
            <p class="about-tecs-title">Node.js</p>
          </li>
          <li class="swiper-slide">
            <p class="about-tecs-title">React Native</p>
          </li>
          <li class="swiper-slide">
            <p class="about-tecs-title">Soft skills</p>
          </li>
        </ul>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-next">
          <svg class="arrow-swiper-about">
            <use xlink:href="./img/sprite.svg#icon-arrow"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
