<section class="section section-cover">
  <h2 class="visually-hidden">Covers</h2>

  <div class="container covers-container">
    <div class="circle circle1"></div>
    <div class="circle circle2"></div>
    <div class="circle circle3"></div>
    <div class="content">
      <div class="marquee">
        <ul class="marquee-inner">
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-12-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-12@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-12-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-12@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-12-1x.webp 1x, ./img/covers/covers-origin/rectangle-12@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-12-1x.webp"
                alt="Enjoy Learning English with English Excellence"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-11-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-11@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-11-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-11@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-11-1x.webp 1x, ./img/covers/covers-origin/rectangle-11@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-11-1x.webp"
                alt="Manage your Finances Masterfully - Join Over 1000 Users Today!"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-1x.webp 1x, ./img/covers/covers-origin/rectangle@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-1x.webp"
                alt="Get body in shape, stay healthy"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-5-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-5@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-5-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-5@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-5-1x.webp 1x, ./img/covers/covers-origin/rectangle-5@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-5-1x.webp"
                alt="Fresh harvest box"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-6-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-6@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-6-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-6@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-6-1x.webp 1x, ./img/covers/covers-origin/rectangle-6@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-6-1x.webp"
                alt="A brand that is inspired by forms creates by nature"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-first-screen-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-first-screen@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-first-screen-1x.webp 1x,
                  ./img/covers/covers-mob/mob-first-screen@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/first-screen-1x.webp 1x, ./img/covers/covers-origin/first-screen@2x.webp 2x"
                src="./img/covers/covers-mob/mob-first-screen-1x.webp"
                alt="Upgrade Your Business with StarlightStudio"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-7-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-7@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-7-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-7@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-7-1x.webp 1x, ./img/covers/covers-origin/rectangle-7@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-7-1x.webp"
                alt="Mimino"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-8-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-8@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-8-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-8@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-8-1x.webp 1x, ./img/covers/covers-origin/rectangle-8@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-8-1x.webp"
                alt="Reviving the traditional Ukrainan artistry"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-9-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-9@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-9-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-9@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-9-1x.webp 1x, ./img/covers/covers-origin/rectangle-9@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-9-1x.webp"
                alt="Organic vegetables "
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-10-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-10@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-10-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-10@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-10-1x.webp 1x, ./img/covers/covers-origin/rectangle-10@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-10-1x.webp"
                alt="Transforming your body shape with Power Pulse"
                width="282"
                height="162"
              />
            </picture>
          </li>
        </ul>

        <ul class="marquee-inner">
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-6-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-6@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-6-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-6@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-6-1x.webp 1x, ./img/covers/covers-origin/rectangle-6@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-6-1x.webp"
                alt="A brand that is inspired by forms creates by nature"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-8-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-8@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-8-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-8@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-8-1x.webp 1x, ./img/covers/covers-origin/rectangle-8@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-8-1x.webp"
                alt="Reviving the traditional Ukrainan artistry"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-first-screen-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-first-screen@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-first-screen-1x.webp 1x,
                  ./img/covers/covers-mob/mob-first-screen@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/first-screen-1x.webp 1x, ./img/covers/covers-origin/first-screen@2x.webp 2x"
                src="./img/covers/covers-mob/mob-first-screen-1x.webp"
                alt="Upgrade Your Business with StarlightStudio"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-5-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-5@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-5-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-5@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-5-1x.webp 1x, ./img/covers/covers-origin/rectangle-5@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-5-1x.webp"
                alt="Fresh harvest box"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-10-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-10@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-10-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-10@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-10-1x.webp 1x, ./img/covers/covers-origin/rectangle-10@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-10-1x.webp"
                alt="Transforming your body shape with Power Pulse"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-11-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-11@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-11-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-11@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-11-1x.webp 1x, ./img/covers/covers-origin/rectangle-11@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-11-1x.webp"
                alt="Manage your Finances Masterfully - Join Over 1000 Users Today!"
                width="282"
                height="162"
              />
            </picture>
          </li>

          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-12-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-12@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-12-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-12@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-12-1x.webp 1x, ./img/covers/covers-origin/rectangle-12@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-12-1x.webp"
                alt="Enjoy Learning English with English Excellence"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-1x.webp 1x, ./img/covers/covers-origin/rectangle@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-1x.webp"
                alt="Get body in shape, stay healthy"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-7-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-7@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-7-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-7@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-7-1x.webp 1x, ./img/covers/covers-origin/rectangle-7@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-7-1x.webp"
                alt="Mimino"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-9-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-9@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-9-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-9@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-9-1x.webp 1x, ./img/covers/covers-origin/rectangle-9@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-9-1x.webp"
                alt="Organic vegetables "
                width="282"
                height="162"
              />
            </picture>
          </li>
        </ul>

        <ul class="marquee-inner">
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-12-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-12@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-12-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-12@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-12-1x.webp 1x, ./img/covers/covers-origin/rectangle-12@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-12-1x.webp"
                alt="Enjoy Learning English with English Excellence"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-11-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-11@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-11-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-11@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-11-1x.webp 1x, ./img/covers/covers-origin/rectangle-11@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-11-1x.webp"
                alt="Manage your Finances Masterfully - Join Over 1000 Users Today!"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-1x.webp 1x, ./img/covers/covers-origin/rectangle@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-1x.webp"
                alt="Get body in shape, stay healthy"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-6-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-6@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-6-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-6@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-6-1x.webp 1x, ./img/covers/covers-origin/rectangle-6@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-6-1x.webp"
                alt="A brand that is inspired by forms creates by nature"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-7-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-7@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-7-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-7@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-7-1x.webp 1x, ./img/covers/covers-origin/rectangle-7@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-7-1x.webp"
                alt="Mimino"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-first-screen-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-first-screen@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-first-screen-1x.webp 1x,
                  ./img/covers/covers-mob/mob-first-screen@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/first-screen-1x.webp 1x, ./img/covers/covers-origin/first-screen@2x.webp 2x"
                src="./img/covers/covers-mob/mob-first-screen-1x.webp"
                alt="Upgrade Your Business with StarlightStudio"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-8-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-8@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-8-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-8@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-8-1x.webp 1x, ./img/covers/covers-origin/rectangle-8@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-8-1x.webp"
                alt="Reviving the traditional Ukrainan artistry"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-9-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-9@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-9-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-9@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-9-1x.webp 1x, ./img/covers/covers-origin/rectangle-9@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-9-1x.webp"
                alt="Organic vegetables "
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-10-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-10@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-10-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-10@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-10-1x.webp 1x, ./img/covers/covers-origin/rectangle-10@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-10-1x.webp"
                alt="Transforming your body shape with Power Pulse"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-5-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-5@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-5-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-5@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-5-1x.webp 1x, ./img/covers/covers-origin/rectangle-5@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-5-1x.webp"
                alt="Fresh harvest box"
                width="282"
                height="162"
              />
            </picture>
          </li>
        </ul>

        <ul class="marquee-inner">
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-11-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-11@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-11-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-11@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-11-1x.webp 1x, ./img/covers/covers-origin/rectangle-11@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-11-1x.webp"
                alt="Manage your Finances Masterfully - Join Over 1000 Users Today!"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-first-screen-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-first-screen@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-first-screen-1x.webp 1x,
                  ./img/covers/covers-mob/mob-first-screen@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/first-screen-1x.webp 1x, ./img/covers/covers-origin/first-screen@2x.webp 2x"
                src="./img/covers/covers-mob/mob-first-screen-1x.webp"
                alt="Upgrade Your Business with StarlightStudio"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-1x.webp 1x, ./img/covers/covers-origin/rectangle@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-1x.webp"
                alt="Get body in shape, stay healthy"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-10-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-10@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-10-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-10@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-10-1x.webp 1x, ./img/covers/covers-origin/rectangle-10@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-10-1x.webp"
                alt="Transforming your body shape with Power Pulse"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-5-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-5@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-5-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-5@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-5-1x.webp 1x, ./img/covers/covers-origin/rectangle-5@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-5-1x.webp"
                alt="Fresh harvest box"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-6-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-6@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-6-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-6@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-6-1x.webp 1x, ./img/covers/covers-origin/rectangle-6@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-6-1x.webp"
                alt="A brand that is inspired by forms creates by nature"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-12-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-12@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-12-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-12@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-12-1x.webp 1x, ./img/covers/covers-origin/rectangle-12@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-12-1x.webp"
                alt="Enjoy Learning English with English Excellence"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-7-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-7@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-7-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-7@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-7-1x.webp 1x, ./img/covers/covers-origin/rectangle-7@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-7-1x.webp"
                alt="Mimino"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-9-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-9@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-9-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-9@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-9-1x.webp 1x, ./img/covers/covers-origin/rectangle-9@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-9-1x.webp"
                alt="Organic vegetables "
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-8-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-8@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-8-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-8@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-8-1x.webp 1x, ./img/covers/covers-origin/rectangle-8@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-8-1x.webp"
                alt="Reviving the traditional Ukrainan artistry"
                width="282"
                height="162"
              />
            </picture>
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-12-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-12@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-12-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-12@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-12-1x.webp 1x, ./img/covers/covers-origin/rectangle-12@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-12-1x.webp"
                alt="Enjoy Learning English with English Excellence"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-11-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-11@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-11-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-11@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-11-1x.webp 1x, ./img/covers/covers-origin/rectangle-11@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-11-1x.webp"
                alt="Manage your Finances Masterfully - Join Over 1000 Users Today!"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-1x.webp 1x, ./img/covers/covers-origin/rectangle@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-1x.webp"
                alt="Get body in shape, stay healthy"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-5-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-5@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-5-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-5@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-5-1x.webp 1x, ./img/covers/covers-origin/rectangle-5@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-5-1x.webp"
                alt="Fresh harvest box"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-6-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-6@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-6-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-6@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-6-1x.webp 1x, ./img/covers/covers-origin/rectangle-6@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-6-1x.webp"
                alt="A brand that is inspired by forms creates by nature"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-first-screen-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-first-screen@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-first-screen-1x.webp 1x,
                  ./img/covers/covers-mob/mob-first-screen@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/first-screen-1x.webp 1x, ./img/covers/covers-origin/first-screen@2x.webp 2x"
                src="./img/covers/covers-mob/mob-first-screen-1x.webp"
                alt="Upgrade Your Business with StarlightStudio"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-7-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-7@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-7-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-7@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-7-1x.webp 1x, ./img/covers/covers-origin/rectangle-7@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-7-1x.webp"
                alt="Mimino"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-8-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-8@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-8-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-8@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-8-1x.webp 1x, ./img/covers/covers-origin/rectangle-8@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-8-1x.webp"
                alt="Reviving the traditional Ukrainan artistry"
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-9-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-9@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-9-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-9@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-9-1x.webp 1x, ./img/covers/covers-origin/rectangle-9@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-9-1x.webp"
                alt="Organic vegetables "
                width="282"
                height="162"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-10-1x.webp 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-10@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-10-1x.webp 1x,
                  ./img/covers/covers-mob/mob-rectangle-10@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-10-1x.webp 1x, ./img/covers/covers-origin/rectangle-10@2x.webp 2x"
                src="./img/covers/covers-mob/mob-rectangle-10-1x.webp"
                alt="Transforming your body shape with Power Pulse"
                width="282"
                height="162"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
