<header id="header">
  <div class="container header-container">
    <div class="wrapper">
      <div class="logo">
        <img class="header-logo-img" width="80" height="80"
          srcset="./img/header/jeff-1x.webp 1x, ./img/header/jeff-2x.webp 2x" src="./img/header/jeff-1x.webp"
          alt="Photo Jefferson" />
        <a class="logo-link" href="./index.html">
          <svg class="header-logo-jeff">
            <use href="./img/sprite.svg#logo-jefferson"></use>
          </svg>
        </a>
      </div>
      <div class="header-menu">
        <button type="button" class="header-menu-btn">Menu</button>
        <ul class="header-menu-list is-hidden">
          <li class="header-menu-item"><a href="#about">About me</a></li>
          <li class="header-menu-item"><a href="#benefits">Benefits</a></li>
          <li class="header-menu-item"><a href="#project">Projects</a></li>
          <li class="header-menu-item"><a href="#faq">FAQ</a></li>
        </ul>
      </div>
      <div class="header-right-side">
        <a class="order-link hidden" href="#footer">Order the project</a>
        <!-- Togle -->
        <div class="toggle-container hidden">
          <p class="toggle-text">Color Theme:</p>
          <input type="checkbox" id="theme-toggle" />
          <label for="theme-toggle" class="toggle-label"></label>
        </div>
      </div>
      <button class="header-burger-btn" type="button">
        <svg class="header-burger-btn-icon" width="28" height="28">
          <use href="./img/sprite.svg#burger-btn-icon"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="header-pop-up-menu">
    <button class="pop-up-close-btn" type="button">
      <svg class="pop-up-close-btn-icon">
        <use href="./img/sprite.svg#header-close-btn-icon" width="28" height="28"></use>
      </svg>
    </button>
    <div class="pop-up-content">
      <ul class="pop-up-list">
        <li class="pop-up-list-item"><a href="#about">About me</a></li>
        <li class="pop-up-list-item"><a href="#benefits">Benefits</a></li>
        <li class="pop-up-list-item"><a href="#project">Projects</a></li>
        <li class="pop-up-list-item"><a href="#faq">FAQ</a></li>
      </ul>
      <div class="pop-up-btn-div">
        <a class="pop-up-order-link" href="#footer">Order the project</a>
      </div>
    </div>
  </div>
</header>