<header>
  <div class="header">
    <div class="logo">
      <img class="header-logo-img" srcset="./img/header/jeff-1x.webp 1x, ./img/header/jeff-2x.webp 2x"
        src="./img/header/jeff-1x.webp 1x" alt="Photo Jefferson" />

      <svg class="header-logo-jeff">
        <use href="./img/sprite.svg#logo-jefferson" width="84" height="19"></use>
      </svg>
    </div>

    <div class="header-div-list">
      <button class="header-menu-list-btn" type="button">Menu</button>
      <ul class="header-menu-list">
        <li class="header-items"><a href="#about">About me</a></li>
        <li class="header-items"><a href="#benefits">Benefits</a></li>
        <li class="header-items"><a href="#project">Projects</a></li>
        <li class="header-items"><a href="#faq">FAQ</a></li>
      </ul>
    </div>
    <div class="header-burger-btn">
      <button class="burgerr" type="button">
        <!-- = -->
        <svg class="header-burger-btn-icon">
          <use href="../img/sprite.svg#burger-btn-icon" width="28" height="28"></use>
        </svg>
      </button>
    </div>
    <div class="header-div-order-btn">
      <a class="header-order-btn" href="#footer">Order the project</a>
    </div>
  </div>
  <div class="header-pop-up-menu">
    <ul class="header-pop-up-list">
      <li class="header-items"><a href="#about">About me</a></li>
      <li class="header-items"><a href="#benefits">Benefits</a></li>
      <li class="header-items"><a href="#project">Projects</a></li>
      <li class="header-items"><a href="#faq">FAQ</a></li>
    </ul>
    <button class="header-close-menu-btn" type="button">
      <svg class="header-close-menu-btn-icon">
        <use href="./img/icons.svg#header-close-btn-icon" width="28" height="28"></use>
      </svg>
    </button>
    <div class="div-order-btn">
      <a class="header-pop-up-btn" href="#footer">Order the project</a>
      <!-- <button class="header-pop-up-btn" type="button">
        <a href="#footer"></a>Order the project
      </button> -->
    </div>
  </div>
</header>