<section class="section hero-section" id="hero-section">
  <div class="container hero-container">
    <h1 class="hero-title">
      <span class="hero-title-fix fix-1">Hello.</span>
      <span class="hero-title-fix fix-2">I’m Fullstack</span>
      <span class="hero-title-fix fix-3">developer</span>
      <span class="hero-title-fix fix-4">Lloyd</span>
      <span class="hero-title-fix fix-5">Jefferson.</span>
    </h1>
    <nav class="hero-contacts-box">
      <ul class="hero-contacts-list">
        <li class="hero-contact-item">
          <a
            class="hero-contact-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
            >IG</a
          >
        </li>
        <li class="hero-contact-item">
          <a
            class="hero-contact-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            >FB</a
          >
        </li>
        <li class="hero-contact-item">
          <a
            class="hero-contact-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferrer"
            >YT</a
          >
        </li>
        <li class="hero-contact-item">
          <a
            class="hero-contact-link"
            href="https://github.com/Natatulichka/DevTeam5"
            target="_blank"
            rel="noopener noreferrer"
            >GH</a
          >
        </li>
        <li class="hero-contact-item hero-mail">
          <a
            class="hero-contact-link"
            href="mailto:lloydjefferson@gmail.com"
            target="_blank"
            rel="noopener noreferrer"
            >lloydjefferson@gmail.com</a
          >
        </li>
      </ul>
    </nav>
  </div>
</section>
