<section class="section project" id="project">
  <div class="container">
    <h2 class="project-title">PROJECTS</h2>

    <div class="project-wrapper">
      <div class="static part">
        <div class="project-dscr-list">
          <div class="project-achive">
            <div><h4 class="achive">#react</h4></div>
            <div><h4 class="achive">#js</h4></div>
            <div><h4 class="achive">#node.js</h4></div>
            <div><h4 class="achive">#git.js</h4></div>
          </div>
          <h3 class="project-text">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <a
            class="see-project"
            href="https://github.com/Natatulichka/DevTeam5"
            target="_blank"
            >See project</a
          >
        </div>
      </div>

      <!-- Slider main container -->
      <div class="swiper-container">
        <div class="part swiper project-swiper">
          <!-- Additional required wrapper     -->
          <div class="swiper-wrapper project-swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide project-swiper-slide" role="group">
              <div class="project-picture" aria-label="1/3">
                <picture class="project-list-item-img">
                  <source
                    srcset="
                      ./img/project/image_1_mobile_1x.webp 1x,
                      ./img/project/image_1_mobile_2x.webp 2x
                    "
                    media="(max-width:767px)"
                  />
                  <source
                    srcset="
                      ./img/project/image_1_tablet_1x.webp 1x,
                      ./img/project/image_1_tablet_2x.webp 2x
                    "
                    media="(min-width: 768px) and (max-width: 1439px)"
                  />
                  <source
                    srcset="
                      ./img/project/image_1_desctop_1x.webp 1x,
                      ./img/project/image_1_desctop_2x.webp 2x
                    "
                    media="(min-width:1440px)"
                  />
                  <img
                    src="./img/project/image_1_desctop_1x.webp"
                    alt="project image 1"
                    width="614"
                    height="385"
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide project-swiper-slide" role="group">
              <div class="project-picture" aria-label="2/3">
                <picture class="project-list-item-img">
                  <source
                    srcset="
                      ./img/project/image_2_mobile_1x.webp 1x,
                      ./img/project/image_2_mobile_2x.webp 2x
                    "
                    media="(max-width:767px)"
                  />
                  <source
                    srcset="
                      ./img/project/image_2_tablet_1x.webp 1x,
                      ./img/project/image_2_tablet_2x.webp 2x
                    "
                    media="(min-width: 768px) and (max-width: 1439px)"
                  />
                  <source
                    srcset="
                      ./img/project/image_2_desctop_1x.webp 1x,
                      ./img/project/image_2_desctop_2x.webp 2x
                    "
                    media="(min-width:1440px)"
                  />
                  <img
                    src="./img/project/image_2_desctop_1x.webp"
                    alt="project image 2"
                    width="614"
                    height="385"
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide project-swiper-slide" role="group">
              <div class="project-picture" aria-label="3/3">
                <picture class="project-list-item-img">
                  <source
                    srcset="
                      ./img/project/image_3_mobile_1x.webp 1x,
                      ./img/project/image_3_mobile_2x.webp 2x
                    "
                    media="(max-width:767px)"
                  />
                  <source
                    srcset="
                      ./img/project/image_3_tablet_1x.webp 1x,
                      ./img/project/image_3_tablet_2x.webp 2x
                    "
                    media="(min-width: 768px) and (max-width: 1439px)"
                  />
                  <source
                    srcset="
                      ./img/project/image_3_desctop_1x.webp 1x,
                      ./img/project/image_3_desctop_2x.webp 2x
                    "
                    media="(min-width:1440px)"
                  />
                  <img
                    src="./img/project/image_3_desctop_1x.webp"
                    alt="project image 3"
                    width="614"
                    height="385"
                  />
                </picture>
              </div>
            </div>
          </div>
          <!-- If we need navigation buttons -->
          <div class="navigation-buttons-project">
            <div class="swiper-button-prev-project" role="button">
              <svg class="arrow-project">
                <use xlink:href="./img/sprite.svg#icon-arrow-swiper-1"></use>
              </svg>
            </div>
            <div class="swiper-button-next-project" role="button">
              <svg class="arrow-project">
                <use xlink:href="./img/sprite.svg#icon-arrow-swiper-1"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
