<section class="section project-section" id="project">
  <div class="container project-container">
    <h6>PROJECTS</h6>

    <!-- Slider main container -->
    <div class="swiper project-swiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper project-swiper-wrapper">
        <!-- Slides -->
        <li class="swiper-slide project-swiper-slide">
          <div class="project-dscr-list">
            <ul class="project-achive">
              <li>
                <p class="achive">#react</p>
              </li>
              <li><p class="achive">#js</p></li>
              <li><p class="achive">#node.js</p></li>
              <li><p class="achive">#git.js</p></li>
            </ul>
            <h2>
              Programming Across Borders: Ideas, Technologies, Innovations
            </h2>
            <a
              class="see-project"
              href="https://github.com/Natatulichka/DevTeam5"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="project-picture">
            <picture class="project-list-item-img">
              <source
                srcset="
                  ./img/project/image_1_mobile_1x.webp 1x,
                  ./img/project/image_1_mobile_2x.webp 2x
                "
                media="(max-width:767px)"
              />
              <source
                srcset="
                  ./img/project/image_1_tablet_1x.webp 1x,
                  ./img/project/image_1_tablet_2x.webp 2x
                "
                media="(min-width: 768px) and (max-width: 1439px)"
              />
              <source
                srcset="
                  ./img/project/image_1_desctop_1x.webp 1x,
                  ./img/project/image_1_desctop_2x.webp 2x
                "
                media="(min-width:1440px)"
              />
              <img
                src="./img/project/image_1_desctop_1x.webp"
                alt="project image 1"
                width="614"
                height="385"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide project-swiper-slide">
          <div class="project-dscr-list">
            <ul class="project-achive">
              <li>
                <p class="achive">#react</p>
              </li>
              <li><p class="achive">#js</p></li>
              <li><p class="achive">#node.js</p></li>
              <li><p class="achive">#git.js</p></li>
            </ul>
            <h2>
              Programming Across Borders: Ideas, Technologies, Innovations
            </h2>
            <a
              class="see-project"
              href="https://github.com/Natatulichka/DevTeam5"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="project-picture">
            <picture class="project-list-item-img">
              <source
                srcset="
                  ./img/project/image_2_mobile_1x.webp 1x,
                  ./img/project/image_2_mobile_2x.webp 2x
                "
                media="(max-width:767px)"
              />
              <source
                srcset="
                  ./img/project/image_2_tablet_1x.webp 1x,
                  ./img/project/image_2_tablet_2x.webp 2x
                "
                media="(min-width: 768px) and (max-width: 1439px)"
              />
              <source
                srcset="
                  ./img/project/image_2_desctop_1x.webp 1x,
                  ./img/project/image_2_desctop_2x.webp 2x
                "
                media="(min-width:1440px)"
              />
              <img
                src="./img/project/image_2_desctop_1x.webp"
                alt="project image 2"
                width="614"
                height="385"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide project-swiper-slide">
          <div class="project-dscr-list">
            <ul class="project-achive">
              <li>
                <p class="achive">#react</p>
              </li>
              <li><p class="achive">#js</p></li>
              <li><p class="achive">#node.js</p></li>
              <li><p class="achive">#git.js</p></li>
            </ul>
            <h2>
              Programming Across Borders: Ideas, Technologies, Innovations
            </h2>
            <a
              class="see-project"
              href="https://github.com/Natatulichka/DevTeam5"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="project-picture">
            <picture class="project-list-item-img">
              <source
                srcset="
                  ./img/project/image_3_mobile_1x.webp 1x,
                  ./img/project/image_3_mobile_2x.webp 2x
                "
                media="(max-width:767px)"
              />
              <source
                srcset="
                  ./img/project/image_3_tablet_1x.webp 1x,
                  ./img/project/image_3_tablet_2x.webp 2x
                "
                media="(min-width: 768px) and (max-width: 1439px)"
              />
              <source
                srcset="
                  ./img/project/image_3_desctop_1x.webp 1x,
                  ./img/project/image_3_desctop_2x.webp 2x
                "
                media="(min-width:1440px)"
              />
              <img
                src="./img/project/image_3_desctop_1x.webp"
                alt="project image 3"
                width="614"
                height="385"
              />
            </picture>
          </div>
        </li>
      </ul>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
