<section class="section project">
  <div class="container">
    <div class="discript">
      <ul>
        <li>
          <button>#react</button>
        </li>
        <li><button>#js</button></li>
        <li><button>#node.js</button></li>
        <li><button>#git.js</button></li>
      </ul>
      <h1>Programming Across Borders: Ideas, Technologies, Innovations</h1>
      <button>See project</button>
    </div>
    <div class="image">
      <ul>
        <li>
          <picture class="project-list-item-img">
            <source
              srcset="
                ./img/catalog/catalog-card-1-mobile.webp    1x,
                ./img/catalog/catalog-card-1-mobile@2x.webp 2x
              "
              media="(max-width:767px)"
            />
            <source
              srcset="
                ./img/catalog/catalog-card-1-tablet.webp    1x,
                ./img/catalog/catalog-card-1-tablet@2x.webp 2x
              "
              media="(min-width: 768px) and (max-width: 1279px)"
            />
            <source
              srcset="
                ./img/catalog/catalog-card-1-desktop.webp    1x,
                ./img/catalog/catalog-card-1-desktop@2x.webp 2x
              "
              media="(min-width:1280px)"
            />
            <img
              src="./img/catalog/catalog-card-1-desktop.webp"
              alt="catalog picture"
              width="279"
              height="262"
            />
          </picture>
        </li>
      </ul>
    </div>
    <button></button>
  </div>
</section>
