<section class="section reviews-section">
  <div class="container reviews-container">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="reviews-container swiper">
      <ul class="reviews-list swiper-wrapper" id="reviews-list"></ul>
    </div>
    <load src="./loader.html" />
    <div class="navigation-buttons-reviews hidden">
      <div class="swiper-button-prev-reviews">
        <svg class="arrow-reviews">
          <use xlink:href="./img/sprite.svg#icon-arrow-swiper-1"></use>
        </svg>
      </div>
      <div class="swiper-button-next-reviews">
        <svg class="arrow-reviews">
          <use xlink:href="./img/sprite.svg#icon-arrow-swiper-1"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
