/* ================================== Mobile version ===================================== */

/* Background circle */
.section-cover {
  position: relative;
  overflow: hidden;
  /* padding: 0; */
}
.circle {
  width: 350px;
  height: 350px;
  background: radial-gradient(circle, var(--primary-color), var(--bg-color));
  opacity: 0.6;
  filter: blur(72px);
  position: absolute;
}
.circle1 {
  bottom: 273px;
  right: 131px;
}
.circle2 {
  top: 319px;
  left: 234px;
}
.circle3 {
  top: -107px;
  left: -131px;
  display: none;
}
/*  */
.container.covers-container {
  /* /* padding-left: 0;
  padding-right: 0; */
  /* max-width: 100%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
.content {
  position: relative;
  box-sizing: border-box;
  min-width: 320px;
  height: 508px;
  overflow: hidden;
}
.covers-img img {
  width: 282px;
  height: 163px;
}
.marquee-inner {
  display: flex;
  transform: rotate(18deg);
  margin-bottom: 25px;
}
.marquee-line {
  flex-shrink: 0;
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  animation-duration: 25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.marquee-inner:nth-child(odd) .marquee-line {
  animation-name: marqueeLineRight;
}
.marquee-inner:nth-child(even) .marquee-line {
  animation-name: marqueeLineLeft;
}
.marquee-inner:nth-child(1) .marquee-line {
  animation-delay: -3s;
}
.marquee-inner:nth-child(2) .marquee-line {
  animation-delay: -1s;
}
.marquee-inner:nth-child(3) .marquee-line {
  animation-delay: -2s;
}
.marquee-inner:nth-child(4) .marquee-line {
  animation-delay: 0s;
}
@keyframes marqueeLineRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-300%);
  }
}
@keyframes marqueeLineLeft {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0);
  }
}
/* ================================== Tablet version ===================================== */
@media screen and (min-width: 768px) {
  .content {
    min-width: 768px;
    height: 960px;
  }
  .covers-img img {
    width: 544px;
    height: 314px;
  }
  .marquee-inner {
    margin-bottom: 50px;
  }
  .section-cover .marquee-line {
    margin-right: 50px;
  }
  /* Background circle */
  .circle1 {
    bottom: 725px;
    right: 332px;
  }
  .circle2 {
    top: 539px;
    left: 574px;
  }
  .circle3 {
    top: 23px;
    left: -364px;
    display: block;
  }
}
/* ================================== Desktop version ===================================== */
@media screen and (min-width: 1440px) {
  .content {
    min-width: 1400px;
  }
  /* Background circle */
  .circle1 {
    top: -75px;
    left: 391px;
  }
  .circle2 {
    top: 639px;
    left: 1141px;
  }
  .circle3 {
    top: 123px;
    left: -37px;
  }
}
.marquee {
  position: absolute;
  right: -800px;
  top: -124px;
  left: 0;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .marquee {
    position: absolute;
    right: -800px;
    top: -370px;
  }
}
