.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  background: transparent;
  min-width: 100%;
  min-height: 80px;
}
@media only screen and (max-width: 767px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.logo {
  display: flex;
}

.header-logo-img {
  border-radius: 18px;
  width: 80px;
  height: 80px;
  margin-right: 8px;
}

.header-logo-jeff {
  background: transparent;
  width: 84px;
  height: 19px;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .header-burger-btn {
    display: flex;
    margin-left: auto;
    margin-right: 16px;
    max-width: 28px;
    max-height: 28px;
    background-color: transparent;
  }

  .header-burger-btn-icon {
    max-height: 28px;
    max-width: 28px;
    border: none;
    background: none;
  }
  .header-div-list {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    width: 1px;
    height: 1px;
  }

  .header-div-order-btn {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    width: 1px;
    height: 1px;
  }
}
@media only screen and (min-width: 768px) {
  .header-burger-btn {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 1px;
    height: 1px;
  }
  .header-items {
    color: #fafafa;
    text-align: center;
    transition: color var(--transition-duration)
      var(--transition-timing-function);
  }
}
.header-items:hover {
  color: var(--primary-hover-color);
}
@media only screen and (min-width: 768px) {
  .header-div-order-btn {
    display: flex;
    width: 163px;
    height: 55px;
    padding: 0;
    border: none;
    text-wrap: nowrap;
  }
  .header-order-btn {
    color: #fafafa;
    padding: 18px 24px;
    border-radius: 60px;
    width: 163px;
    height: 55px;
    background: var(--primary-color);
    border: none;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
  }

  .header-div-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    width: 67px;
    height: 138px;
  }
  .header-menu-list-btn {
    color: #fafafa;
    background: transparent;
    text-align: center;
    flex-wrap: nowrap;
    justify-items: center;
    padding: 10px;
    height: 39px;
    width: 60px;
    text-decoration: underline;
    border: none;
    transition: color var(--transition-duration)
      var(--transition-timing-function);
  }
  .header-menu-list-btn:hover {
    color: var(--primary-hover-color);
  }
  .header-menu-list {
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration-skip-ink: none;
    width: 67px;
    height: 91px;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .header-menu-list.is-on {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
.burgerr {
  font-size: 36px;
  letter-spacing: 0.02em;
  background-color: transparent;
  color: #fafafa;
  border: none;
}

/* Modal window */

.header-pop-up-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  z-index: 111;
  padding-left: 16px;
  padding-right: 16px;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition-timing-function);
  background-color: #1c1d20;
}
/* theme-red */
.header-pop-up-menu.theme-red {
  background: url(../img/header/Glass-effect-@1x.png) no-repeat;
}
/* retina red */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .header-pop-up-menu.theme-red {
    background: url(../img/header/Glass-effect-@2x.png) no-repeat;
    background-size: 375px 812px;
  }
}
/* theme-blue */
.header-pop-up-menu.theme-blue {
  background: url(../img/header/blue-theme/mobile_menu_blue@1x.png) no-repeat;
}
/* Retina blue */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .header-pop-up-menu.theme-blue {
    background: url(../img/header/blue-theme/mobile_menu_blue@2x.png) no-repeat;
    background-size: 375px 812px;
  }
}
/*  */
.header-pop-up-menu.is-on {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  background-color: #1c1d20;
}
.header-pop-up-list {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.header-close-menu-btn {
  background-color: transparent;
  width: 28px;
  height: 28px;
  display: flex;
  text-align: center;
  justify-content: center;
  border: none;
  padding: 0;
  margin-left: auto;
  padding-top: 32px;
}
.header-close-menu-btn-icon {
  stroke-width: 2px;
  stroke: #fafafa;
  width: 28px;
  height: 28px;
}
.div-order-btn {
  display: block;
  position: absolute;
  left: 40%;
  right: 33%;
  bottom: 20%;
  width: 100%;
  height: 45px;
}
.header-pop-up-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  border-radius: 60px;
  color: #fafafa;
  border: none;
  width: 164px;
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
}
