.hero-section {
  padding-top: 0;
}
.hero-container {
  min-width: 320px;
  max-width: 375px;
  height: 812px;
  background-size: 310px 812px;
  margin: 0 auto;
  padding: 281px 16px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hero-container {
    background-image: url(../img/hero/glass-effect-mobile@2x.png),
      var(--theme-gradient);
    background-repeat: no-repeat;
    background-position-x: -268px, 0;
    background-size: 578px 812px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-container {
    background-image: url(../img/hero/glass-effect-tablet.png),
      var(--theme-gradient);
    background-repeat: no-repeat;
    background-position-x: -147px, 0;
    background-size: 768px 1024px, 768px 1024px;
    height: 1024px;
    max-width: 768px;
  }
}

@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-width: 768px) and (min-resolution: 192dpi),
  only screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: url(../img/hero/glass-effect-tablet@2x.png),
      var(--theme-gradient);
    background-repeat: no-repeat;
    background-position-x: -147px, 0;
    background-size: 768px 1024px, 768px 1024px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-container {
    background-image: url(../img/hero/glass-effect-desktop.png),
      var(--theme-gradient);
    background-repeat: no-repeat;
    background-size: 728px 900px, 1440px 900px;
    height: 900px;
    max-width: 1440px;
  }
}
@media only screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-width: 1440px) and (min-resolution: 192dpi),
  only screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: url(../img/hero/glass-effect-desktop@2x.png),
      var(--theme-gradient);
    background-repeat: no-repeat;
    background-position-x: 0px, 0px;
    background-size: 728px 900px, 1440px 900px;
  }
}
.hero-title {
  color: rgba(250, 250, 250, 1);
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 90px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-title {
    width: 1084px;
    margin: 0 auto;
  }
}

.hero-title-fix {
  display: block;
}

@media only screen and (min-width: 1440px) {
  .hero-title-fix {
    display: inline;
  }
  .fix-1 {
    display: block;
  }
}

.hero-contacts-box {
  height: 37px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media only screen and (min-width: 768px) {
  .hero-contacts-box {
    height: 55px;
  }
}

.hero-contacts-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 100%;
}

.hero-contact-item {
  width: 37px;
  box-sizing: border-box;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .hero-contact-item {
    width: 55px;
  }
  .hero-contacts-list {
    gap: 8px;
  }
}

.hero-mail {
  width: 178px;
  margin-right: 0;
}

@media only screen and (min-width: 768px) {
  .hero-mail {
    width: 223px;
  }
}

.hero-contact-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 1);
  text-decoration: none;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.hero-contact-link:hover {
  color: var(--primary-hover-color);
  border-color: rgba(250, 250, 250, 1);
}

@media only screen and (min-width: 768px) {
  .hero-contact-link {
    font-size: 16px;
  }
}
