.reviews-container {
  overflow: hidden;
}

.reviews-title {
  color: rgba(250, 250, 250, 0.6);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 32px;
}
.reviews-list.swiper-wrapper {
  display: flex;
}
.review-card-image {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 32px;
}
.review-author-name {
  color: #fafafa;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
}
.review-text {
  color: rgba(250, 250, 250, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin-top: 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.review-card.swiper-slide {
  height: 302px;
  padding: 32px 24px 32px 24px;
  border: 1px solid #fafafa33;
  border-radius: 20px;
  width: 344px;
  box-sizing: border-box;
}
/*Swiper  navigations*/
.navigation-buttons-reviews {
  display: flex;
  width: 116px;
  height: 52px;
  gap: 12px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.navigation-buttons-reviews.hidden {
  display: none;
}
.swiper-button-next-reviews {
  transform: rotate(180deg);
}

.arrow-reviews {
  width: 52px;
  height: 52px;
  fill: var(--bg-color);
  stroke: #fafafa;
  transition: stroke var(--transition-duration)
    var(--transition-timing-function);
}
.arrow-reviews:hover {
  stroke: var(--primary-hover-color);
}
.swiper-button-disabled > .arrow-reviews {
  stroke: #3b3b3b;
}
.arrow-reviews:hover {
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .arrow-reviews {
    width: 68px;
    height: 68px;
  }
  .navigation-buttons-reviews {
    width: 156px;
    height: 68px;
    gap: 20px;
    margin-top: 32px;
  }
}
/* Error */
.reviews-error {
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* Loader */
.load-container.hidden {
  display: none;
}
.load-container {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dash-box {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
}
.dash {
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--primary-color),
    var(--primary-color),
    var(--primary-color)
  );
  width: 60px;
  height: 15px;
  margin: 0 15px;
  border: #babfc8 1px solid;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 #eff1f1;
  display: inline-block;
}
.one {
  margin-right: -20px;
  transform-origin: center left;
  animation: spin 3s linear infinite;
}
.two {
  margin-right: 40px;
  transform-origin: center right;
  animation: spin2 3s linear infinite;
  animation-delay: 0.2s;
}
.three {
  margin-right: 40px;
  transform-origin: center right;
  animation: spin3 3s linear infinite;
  animation-delay: 0.3s;
}
.four {
  transform-origin: center right;
  animation: spin4 3s linear infinite;
  animation-delay: 0.4s;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  30% {
    transform: rotate(370deg);
  }
  35% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-180deg);
  }
  35% {
    transform: rotate(-190deg);
  }
  40% {
    transform: rotate(-180deg);
  }
  78% {
    transform: rotate(-180deg);
  }
  95% {
    transform: rotate(-360deg);
  }
  98% {
    transform: rotate(-370deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }
  27% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  45% {
    transform: rotate(190deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(370deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin4 {
  0% {
    transform: rotate(0deg);
  }
  38% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-360deg);
  }
  65% {
    transform: rotate(-370deg);
  }
  75% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media (max-width: 768px) {
  .dash {
    width: 35px;
    height: 15px;
    margin: 0 15px;
  }
  .one {
    margin-right: -20px;
  }
}
