.section.reviews-section {
  overflow: hidden;
}
.reviews-title {
  color: rgba(250, 250, 250, 0.6);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 32px;
}
.reviews-list.swiper-wrapper {
  display: flex;
}
.review-card-image {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 32px;
}
.review-author-name {
  color: #fafafa;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
}
.review-text {
  color: rgba(250, 250, 250, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin-top: 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.review-card.swiper-slide {
  height: 302px;
  padding: 32px 24px 32px 24px;
  border: 1px solid #fafafa33;
  border-radius: 20px;
  width: 344px;
  box-sizing: border-box;
}
/*Swiper  navigations*/
.navigation-buttons-reviews {
  display: flex;
  width: 116px;
  height: 52px;
  gap: 12px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.swiper-button-next-reviews {
  transform: rotate(180deg);
}

.arrow-reviews {
  width: 52px;
  height: 52px;
  fill: var(--bg-color);
  stroke: #fafafa;
}
.arrow-reviews:hover {
  stroke: var(--primary-hover-color);
}
.swiper-button-disabled > .arrow-reviews {
  stroke: #3b3b3b;
}
.arrow-reviews:hover {
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .arrow-reviews {
    width: 68px;
    height: 68px;
  }
  .navigation-buttons-reviews {
    width: 116px;
    height: 68px;
    gap: 20px;
    margin-top: 32px;
  }
}
