/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('../../node_modules/swiper/swiper-bundle.min.css');
@import url('../../node_modules/modern-normalize/modern-normalize.css');
@import url('./reset.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./benefits.css');
@import url('./faq.css');
@import url('./covers.css');
@import url('./footer.css');
@import url('./theme.css');
