.theme-container {
  width: 320px;
  margin: 0 auto;
}
/* Togle */

/* .toggle-container {
  position: absolute;
} */

#theme-toggle {
  display: none;
}

.toggle-label {
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: var(--primary-hover-color);
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-label::after {
  content: '';
  display: block;
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

#theme-toggle:checked + .toggle-label {
  background-color: var(--primary-hover-color);
}

#theme-toggle:checked + .toggle-label::after {
  transform: translateX(30px);
}
